/* Estilo del encabezado y el logo */
header {
    text-align: center; 
    background-color: #df8fb5; /* Color de fondo del header */
    padding: 10px;
}

header img.logo {
    display: block;
    margin: auto; 
    max-width: 400px; 
	max-height: 200px;
}

/* Estilos para la barra de navegación */
nav ul {
    padding: 0px;
}

nav ul li {
    display: inline;
    margin:  15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding: 0px;
    }

    nav ul li {
        display: block;
        margin: 10px; /* Añade espacio entre los enlaces */
    }

    nav ul li a {
        font-size: 16px; 
    }
	footer {
        font-size: 10px; /* Esto es para ajustar el tamaño del texto en pantallas medianas */
    }
}

@media (max-width: 480px) {
    header img.logo {
        max-width: 200px; 
    }

    nav ul li a {
        font-size: 14px;
    }
	#puntas{
		width: 30%;
	}
	 footer {
        font-size: 10px; /* Esto es para ajustar el tamaño del texto en pantallas pequeñas */
    }
}



/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0px;
}



